<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shopping.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>Shopping-List</title>
</head>
<body>
    <div id="root">
        <div class="container">
            <h1>Shopping<span>List</span></h1>
            <p>...make a choice now.</p>
        </div>
        <div class="menu">
            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>
            <input id="input" type="text" v-model="newName" placeholder="Enter Items..">
            <button id="button" v-on:click="addName">Add Item</button>
        </div>
    </div>

    <script>
        let app = new Vue({
            el: '#root',

            data: {
                
                newName:'',
               names: ['Welcome, Get Started!!',]
            },

            methods: {
                addName() {

                    this.names.push(this.newName);

                    this.newName = '';
                }
            },
        });

       
    </script>
</body>
</html>